@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    overflow: hidden;
}

body,
h1,
h2,
h3 h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #e0e0e0;
    display: none;
    /* visibility: hidden; */
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #bf1650;
    border-radius: .5rem;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}